<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LaerniX Bootcamp</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100" style="background:#fff; color:#212529;">
    <header class="sticky-top">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between align-items-center">
               <a href="https://globalazure.net/"> <img src="~/images/GAB2023.png" style="width: clamp(100px, 12vw, 140px); height: auto; max-height: 60px;" /></a>
                <a href="https://valuemomentum.com/"><img src="~/images/VMLogoWhite.png" style="width: clamp(80px, 10vw, 100px); height: auto; max-height: 50px;" /></a>
            </div>
        </div>
    </header>
    <div class="container-fluid" style="background:#fff; color:#212529; min-height:9vh;">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-center" style="background:#f8f9fa; color:#212529;">
        &copy; 2025 ValueMomentum, Inc.
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");

            $(".card").hover(
                function () {
                    $(this).addClass("shadow-lg").css("cursor", "pointer");
                },
                function () {
                    $(this).removeClass("shadow-lg");
                }
            );
        });
                            //function autoRefresh_div() {
                            //    $("#session").load();
                            //}
                            //setInterval(autoRefresh_div, 500); // every 5 seconds
                            //autoRefresh_div();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
